.orderDetail {
    background-color: #dddddd;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 70%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .orderDetail-title {
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .orderDetail-section {
    margin-bottom: 20px;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
  }
  
  .orderDetail-section h3 {
    margin-bottom: 10px;
  }
  
  .orderDetail-notes {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    resize: vertical;
  }

  .createOrder input {
    margin-left: 5px;
  }

  .createOrder textarea {
    margin-left: 5px;
    padding-top: 25px;
  }

  .addPrilistaBtn button {
    font-size: 50px;
  }

  .orderActions {
    display: flex;
    justify-content: space-between;
  }
  
  .orderDetail-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .orderDetail-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .orderDetail-update {
    background-color: #4caf50;
    color: white;
  }
  
  .orderDetail-update:hover {
    background-color: #45a049;
  }
  
  .orderDetail-delete {
    background-color: #f44336;
    color: white;
  }
  
  .orderDetail-delete:hover {
    background-color: #e53935;
  }
  


/* Order List Styles */
.orderList {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orderList h2 {
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #333;
}

.orderItem {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: space-between;
  align-items: stretch;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.orderDetails {
  margin-top: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 6px;
  animation: expand 0.3s ease;
}


.orderItem:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.orderSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@keyframes expand {
  from {
    opacity: 0;
    transform: scaleY(0.9);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.orderLeft {
  flex: 1; /* Takes up twice as much space as the other sections */
  text-align: left;
  padding-right: 20px;
}

.orderMiddle {
  flex: 1; /* Takes up default space */
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0 20px;
}

.orderRight {
  flex: 1;
  text-align: right;
  padding-left: 20px;
}

.orderItem h3 {
  font-weight: bold;
  margin: 0;
  color: #333;
}

.orderItem p {
  margin: 5px 0;
  color: #666;
}

/* Error Styling */
.orderList.error {
  background-color: #ffe6e6;
  color: #b30000;
  border: 1px solid #b30000;
  border-radius: 8px;
  padding: 16px;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}


.items, .location {
  margin-bottom: 20px;
}

.vehicleDetails {
  border-bottom: 1px solid #666;
}

.vehicleDetails p {
  margin: 0px;
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderHeader .orderInfo {
  flex-grow: 1;
}

.orderInfo p {
  margin-bottom: 10px;
  margin-top: 10px
}

.orderHeader .markAsDelivered {
  margin-left: auto;
  margin-right: 25px;
}

.markAsDelivered button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.markAsDelivered button:hover {
  background-color: #45a049;
}

.items .item {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.items .item p {
  margin: 5px 0;
}

h4 {
  margin-bottom: 5px;
  margin-top: 10px
}

.noItems { color: #777; font-style: italic; text-align: center; }

/* Container for the prilista list */
.prilistaList {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds space between items */
}

/* Individual prilista item styling */
.prilistaItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.finishedBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.finishedBtn:hover {
  background-color: #45a049;
}

/* Button styling */
.orderDetailButtons {
  display: flex;
  margin-bottom: 10px;
}

.prilistaH3 {
  margin-bottom: 0px;
}


.completedItem {
  text-decoration: line-through;
  color: gray;
}

.prilistaItem.completed .prilistaText {
  text-decoration: line-through;
  color: #808080; /* Optional: Change color to indicate completion */
}

.completedBadge {
  background-color: #4CAF50;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  font-weight: bold;
}

.itemActiveBadge {
  background-color: #aaa;
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 8px;
  font-weight: bold;
}

.activateSingleOkantadBtn {
  padding: 0.2em 0.5em;
}


.kantlistaList {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds space between items */
}

/* Individual prilista item styling */
.kantlistaItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/* Button styling */
.kantlistaItem button {
  margin-top: 10px;
  padding: 8px 12px;
  /*background-color: #007bff;*/
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.kantlistaItem button:hover {
  /*background-color: #0056b3;*/
  background-color: #45a049;
}


.completedItem {
  text-decoration: line-through;
  color: gray;
}

.kantlistaItem.completed .kantlistaText {
  text-decoration: line-through;
  color: #808080; /* Optional: Change color to indicate completion */
}


.custom-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-button:active {
  background-color: #004085;
}

.markAsDelivered .editBtn {
  background-color: #007bff;
  margin-left: 10px;
}

.markAsDelivered .editBtn:hover {
  background-color: #004085;
}

.newOrderLink {
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 25px;
  text-decoration: none;
  margin: 0 auto;
}

.newOrderLink:hover {
  background-color: #0056b3;
}

.h2ToPdf {
  text-align: center;
  margin-bottom: 20px;
  position: relative; /* Required for the button positioning */
}

.downloadBtn {
  position: absolute;
  top: 0;
  right: 25px;
  background-color: #007bff; /* Adjust as needed */
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.downloadBtn:hover {
  background-color: #0056b3; /* Adjust hover color as needed */
}

.rightOrderText {
  width: 100%;
  text-align: right;
}

.linkDiv {
  width: 100%;
  text-align: center;
}



/* KLUPP LIST */

.klupplistaDetails {
  margin-top: 20px; /* Add space above the section */
}

.klupplistaDetails h3 {
  margin-bottom: 10px;
  font-weight: bold;
  padding-bottom: 5px;
}

.klupplistaList {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between klupplist items */
}

.klupplistItem {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff; /* Or slightly different color if needed */
}

.klupplistItem p {
    margin: 4px 0; /* Adjust spacing within item */
    line-height: 1.4;
}


.orderDetail h2 {
  text-align: center;
}


@media (max-width: 1099px) {
  .markAsDelivered {
      text-align: right;
      margin-right: 0px;
  }

  .markAsDelivered .editBtn {
      margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  .downloadBtn {
    top: 35px;
  }
}



/* Responsive Design */
@media (max-width: 768px) {
  .orderDetail {
    max-width: 90%;
  }

  .orderRight, .orderLeft {
    text-align: center;
  }

  .orderHeader .markAsDelivered {
    text-align: right;
    margin-right: 0px;
  }

  .markAsDelivered .editBtn {
    margin-top: 10px;
  }

  .downloadBtn {
    right: 0px;
  }
}

@media (max-width: 468px) {
  .orderList {
    padding: 0px;
    padding-top: 25px;
  }

  .orderSummary {
    display: block;
  }

  .orderLeft {
    padding: 0px;
  }

  .orderMiddle {
    border: none;
  }

  .orderRight {
    padding: 0;
  }
}
